<style>
  p
  {
    text-align: center;
    color: #084368;
  }
  body{
    background-color: beige;
  }
    h1
    {text-align: center;
    color: beige;
    background-color: #2D9596;
    margin: 0;}
</style>
<%- include('partials/header.ejs') %>
<h1>About Us</h1>
<p>Hello there! This is Baibhab Nayak.I fill thrilled to have you here on my Website.Thank you for coming!</p>
<%-include("partials/footer.ejs")%>