<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body
    {background-color: #F1FADA;}
    h1 {
        text-align: center;
        color: beige;
        background-color: #2D9596;
        margin: 0;
    }
    #content {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
    }
    #content div {
        border: 2px solid black;
        height: 100vh;
    }
    #makepost {
        padding: 20px;
    }
    #makepost a {
        border-radius: 20px;
        padding: 10px;
        border: 2px solid #265073;
        color: rgb(16, 54, 93);
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    #makepost a:hover{
        
        color: beige;
        text-decoration: none;
        background-color: #265073;
    }
    
    input,textarea
    {
        width: 100%;
        background-color: #72c5c6;
        color: #265073;
        border: none;
    }
    input:hover,textarea:hover
    {
        background-color: #265073;
        transition: all 0.5s;
        color: beige;
    }
    label
    {
        font-family: Arial, Helvetica, sans-serif;
        color: #265073;
    }
</style>
<body>
    <%- include("partials/header.ejs") %>
    <h1>Welcome to Chitran</h1>
    <div id="content"> 
      <%-include("partials/bloglist.ejs")%>
        <div id="makepost">
            <!-- EJS script to handle post creation -->
            <% if (!creatingPost) { %>
                <a href="/create">Create a post</a>
            <% } else { %>
                <!-- Form for creating a post -->
                <form action="/create" method="POST">
                    <label for="title">Title:</label><br>
                    <input type="text" id="title" name="title"><br>
                    <label for="content">Content:</label><br>
                    <textarea id="content" name="content"></textarea><br>
                    <input type="submit" value="Submit">
                </form>
            <% } %>
        </div>
    </div>
    <%-include("partials/footer.ejs")%>
</body>
</html>
